/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;;
  margin: 3px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.container {
  height: 200px;
  /* position: relative; */

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
	text-align:center;
}

h3 {
	text-align: center;
}

.support {
    bottom: 5%;
	position: absolute;
   // top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}